.btn1{
    background-color:	#D30009;
    padding: 20px;
    border: none;
    margin-top: 300px;
    margin-left: 50px;
    font-family:   'Montserrat';
    font-weight: bold;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.btn2{
    font-family:  'Gugi';
    padding: 10px 20px;
    border: 5px solid #646097;
    margin-top: 300px;
    margin-left: 50px;
    font-family:   'Montserrat';
    font-weight: bold;
   color:  #646097;
    cursor: pointer;
    font-size: 30px;
    background-color:	#FBDB17;
}
.btn3
{
    padding: 10px 20px;
    border-radius: 30px;
    border:none;
    margin-top: 300px;
    margin-left: 50px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    background-color:	#23CBDE;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.btn4{
    border: 5px solid 	#8059A9;
    background-color: white;
    color: 	#8059A9;
    font-weight: bold;
    margin-top: 300px;
    margin-left: 50px;
    padding: 10px 20px;
    border-radius: 15px;
    word-spacing: 8px;
    cursor: pointer;
}

.btn5{
    border: 2px solid #FE8605;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px;
    background-color:#FE8605 ;
    border-radius: 10px;
    color: azure;
    margin-top: 300px;
    margin-left: 100px;
    cursor: pointer;
}
.btn6{
    border:none;
    border-radius: 50%;
    background-color:	#139CF5 ;
    padding: 20px 20px;
    color: azure;
    margin-top: 300px;
    margin-left: 50px;
    cursor: pointer;

}


