.btn1{
    background-color:	#D30009;
    padding: 20px;
    border: none;
    margin-top: 300px;
    margin-left: 50px;
    font-family:   'Montserrat';
    font-weight: bold;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.btn1:hover{
    background-color: #ed4c4f;
}
.btn2{
    font-family:  'Gugi';
    padding: 10px 20px;
    border: 5px solid #646097;
    margin-top: 300px;
    margin-left: 50px;
    font-family:   'Montserrat';
    font-weight: bold;
   color:  #646097;
    cursor: pointer;
    font-size: 30px;
    background-color:	#FBDB17;
}
.btn2:hover{
    background-color: #2a61fb;
    color:#FBDB17;
}

.btn3{
    padding: 10px 20px;
    border-radius: 30px;
    border:none;
    margin-top: 300px;
    margin-left: 50px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    background-image:linear-gradient(to right ,#59d1db,#a3d388);
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.btn4{
    border: 5px solid 	#8059A9;
    background-color: white;
    color: 	#8059A9;
    font-weight: bold;
    margin-top: 300px;
    margin-left: 50px;
    padding: 10px 20px;
    border-radius: 15px;
    word-spacing: 8px;
    cursor: pointer;
}
.btn4:hover{
    color: white;
    background-color: 	#8059A9;
}

.btn5{
    border: 2px solid #FE8605;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px;
    background-image:linear-gradient(to top ,#f5a332,#fac733);
    border-radius: 10px;
    color: azure;
    margin-top: 300px;
    margin-left: 100px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
}
.btn5:hover{
    background-color:#f5a332 ;
    background-image:none;
}

.btn6{
    border:2px solid #139CF5 ;
    border-radius: 50%;
    color:	#139CF5 ;
    padding: 20px 20px;
    background-color: azure;
    margin-top: 300px;
    margin-left: 50px;
    cursor: pointer;

}
.btn6:hover{
    background-color:	#139CF5 ;
    color: azure;
}


