body{
    background-color: 	#E3E4E6;
}
header{
    background-color: 	#EBEFF2;
    padding-left: 550px;
    padding-top: 5px;
 padding-bottom: 5px;

}
h1{
    text-shadow: 2px 2px 2px red;
    font-family: 'Montserrat', sans-serif;
   
    font-size: 50px;
}
.container1{
    padding-top: 100px;
    padding-left: 150px;
    display: flex;
}
.f3{
    padding-left: 20px;
}
.f1{
    padding-left: 20px;
}
.f2{
    padding-left: 20px;
}
.div2{
    display: flex;
    margin-top: 50px;
    padding-left: 170px;
}
}
.f4{
    padding-left: 20px;
}
.f5{
    padding-left: 20px;
}
.f6{
    padding-left: 20px;
}

h2{
    padding-left: 100px;
    font-family:  'Satisfy', cursive;
}
.f1:hover{
    background-color: 	#ECF4F0;
    padding: 25px;
}

.f2:hover{
    background-color: 	#ECF4F0;
    padding: 25px;
}
   

.f3:hover{
    background-color:#ECF4F0;
    padding: 25px;
}
.f4:hover{
    background-color:#ECF4F0;
    padding: 25px;
}

.f5:hover{
    background-color:#ECF4F0;
    padding: 25px;

}
.f6:hover{
    background-color:#ECF4F0;
    padding: 25px;

}

